{% capture id%}carousel-{{ Model.ContentItem.Id}}{% endcapture %}
{% assign ride = Model.ContentItem.Content.Carousel.Ride.Value %}
{% assign wrap = Model.ContentItem.Content.Carousel.Wrap.Value %}
{% assign interval = Model.ContentItem.Content.Carousel.Interval.Value %}
{% assign keyboard = Model.ContentItem.Content.Carousel.Keyboard.Value %}
{% assign pause = Model.ContentItem.Content.Carousel.Pause.Value %}
{% assign crossfade = Model.ContentItem.Content.Carousel.Crossfade.Value %}
<div id="{{ id }}" class="carousel slide {% if crossfade %}carousel-fade{% endif %}" data-bs-interval="{{ interval }}"{% if ride %} data-bs-ride="carousel"{% endif %}{% if wrap == false %} data-bs-wrap="false"{% endif %}{% if pause == false %} data-bs-pause="false"{% endif %}{% if keyboard == false %} data-bs-keyboard="false"{% endif %}>
    {% if Model.ContentItem.Content.Carousel.IncludeIndicators.Value %}
        <div class="carousel-indicators">
            {% assign slideTo = 0 %}
            {% for slide in Model.ContentItem.Content.Slides.ContentItems %}
                <button type="button" data-bs-target="#{{ id }}" data-bs-slide-to="{{ slideTo }}"{% if slideTo == 0 %} class="active" aria-current="true"{% endif %}></li>
                {% assign slideTo = slideTo | plus: 1 %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="carousel-inner">
        {% assign active = " active" %}
        {% for slide in Model.ContentItem.Content.Slides.ContentItems %}
            <div class="carousel-item{{active}}">
                <img{% if slide.Slide.ImageClass.Text.size > 0 %} class="{{ slide.Slide.ImageClass.Text }}"{% endif %} src="{{ slide.Slide.Image.Paths.first | asset_url }}"{% if slide.Slide.ImageAltText.Text.size > 0 %} alt="{{ slide.Slide.ImageAltText.Text }}"{% endif %}>
                {% if slide.Slide.DisplayCaption.Value %}
                    <div class="carousel-caption d-none d-md-block">
                        {{ slide.Slide.Caption.Html | raw }}
                    </div>
                {% endif %}
            </div>
            {% assign active = "" %}
        {% endfor %}
    </div>
    {% if Model.ContentItem.Content.Carousel.IncludeControls.Value %}
        <button class="carousel-control-prev" type="button"  class="carousel-control-prev" data-bs-target="#{{ id }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#{{ id }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    {% endif %}
</div>

